* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: borde-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-size: cover;
  color: rgb(246, 246, 246);
  font-size: 16px;
  display: flex;
  background: rgb(243, 26, 43);
}

.capa {
  width: 100%;
  height: 100%;
  background-color: rgba(36, 36, 36, 0.671);
  position: absolute;
  z-index: -10;
}

.wrap {
  width: 90%;
  max-width: 1000px;
  margin: 13% auto;
  background: rgba(27, 27, 27, 0.63);
}
.widget {
  background: rgba(27, 27, 27, 0.63);
  width: 93%;
  margin: 2em;
}
.widget p {
  display: inline-block;
  line-height: 1em;
}
.fecha {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0.3125rem;
  margin-bottom: 5px;
  padding: 20px;
  width: 100%;
}
.reloj {
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding: 20px;
  font-size: 4em;
  text-align: center;
}
.reloj .caja-segundos {
  display: inline-block;
}
.reloj .segundos,
.reloj .ampm {
  font-size: 2rem;
  display: block;
}
